<div class="container">
	<div class="row">
		<div class="col-md-5">
			<h2>MyPage</h2>
			<%= attachment_image_tag @user, :profile_image, format: 'jpeg', size: "200x200", fallback: "no_image.jpg", class: "circle" %><br>

			<h4><%= @user.name %><h4><br>

			<%= link_to 'Edit Profile', edit_user_path(@user.id), class: "btn btn-default glyphicon glyphicon-wrench" %>
		</div>
		<div class="col-md-7">
			<h3>Code List</h3>
			<div class="list-group">
				<table class="table">
					<% @codes.each do |code| %>
						<tr>
							<td>
								<% text = code.code_name + "\n" + code.language %>
								<% @escaped = h(text).gsub(/(?:\n\r?|\r\n?)/, '<br>') %>
								<%= link_to raw(@escaped), code_path(code.id), {class: "list-group-item list-group-item-action"} %><br>
							</td>
						</tr>
					<% end %>
				</table>
			</div>
		</div>
	</div>
</div>