<div>
	<div>
		<h2>CodeList</h2>
	</div>
	<div class="list-group">
		<table class="table">
			<% @codes.each do |code| %>
				<div class="list-group-item list-group-item-action">
					<tr>
						<td>
							<h4><%= code.code_name %></h4><br>
							<%= code.language %>
						</td>
					</tr>
				</div>
			<% end %>
		</table>
	</div>
</div>