<div>
	<div><h2><%= @code.code_name %></h2></div>
	<div>
		<pre class="prettyprint">
			<code>
				<%= @code.file.force_encoding("UTF-8") %><br>
			</code>
		</pre>
		<%= @code.codes_explanation %><br>
		<%= @code.language %>
	</div>
</div>