<div class="top">
	<canvas class="background"></canvas>

	<div class="title">
		<h1 class="neon" data-text="SCoder">SCoder</h1>
		<div class="botan">
			<%= link_to 'Join', codes_path, data: {"turbolinks" => false}, class: "btn-shine" %>
		</div>
	</div>
</div>