<div class="top">
	<h1 class="title">SCoder</h1>
	<div class="botan">
		<%= link_to 'Join', codes_path, class: "btn-shine" %>
	</div>

	<%= link_to 'Join', codes_path %>

	<canvas class="background"></canvas>
</div>