/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";  /*ここを追加*/
@import "bootstrap";            /*ここを追加*/

body, html {
	display: flex;
	flex-flow: column;
 	padding-top: 20px;
 	height: 100%;
}

.main {
	flex: 1;
}

.headers {
	background:radial-gradient(#236EFF, #1A009C);
}

.footers {
	background:linear-gradient(#1A009C, #23BEFF);
}

footer {
    bottom: 0;
    width: 100%;
    height: 100px;
}

h2 {
	font-family: 'Vollkorn', serif;
}


.head-title{
	font-size: 30px;
	color: #ffffff;
}

.head-link{
	color: #ffffff;
}